parameters:
    level: 8
    paths:
        - app
        - sdk
    excludePaths:
        - app/Views
        - app/Lang
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
